@import './normalize';
@import './jquery.formstyler';
// @import './jquery.formstyler.theme';
@import './slick';

$yellow: #ffcd21;

html {
	overflow-x: hidden;

	box-sizing: border-box;
}

*,
*::before,
*::after {
    
	box-sizing: inherit;
}

body {
	font-family: Roboto, sans-serif; /*под проект*/
    font-size: 16px;
    
	overflow-x: hidden;
	margin: 0;
	color: black;
	background-color: #fbfbfb; /*под проект*/
}

img {
	height: auto;
}

a {
	text-decoration: none;
	color: inherit;
	scroll-behavior: smooth;
}

ul {
	margin: 0;
	padding: 0;

	list-style: none;
}

h1,
h2,
h3,
p {
	margin: 0;
	padding: 0;
}

.visually-hidden {
	clip: rect(1px 1px 1px 1px);
	padding: 0 !important;
	border: 0 !important;
}

.clearfix::after {
	display: table;
	clear: both;

	content: "";
}
* {
    font-family: 'Roboto';
    box-sizing: border-box;
}
a {
    color: #212020;
    text-decoration: none;
    display: inline-block;
}
ul,li {
    list-style: none;
    padding: 0;
    margin: 0;
}
.container {
    max-width: 1170px;
    padding: 0 20px;
    margin: 0 auto;
}
body {
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 18px;
    color: #212020;
}

.header-top {
    background-color: #303030;
}
.header-top{
    
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.header__contacts {
    a{
        margin-right: 30px;
        color: #cbcacb;
    & .icon{
        margin-right: 10px;
        color: $yellow;}   
    }
}
.header__link {
    padding: 13px 25px;
    background-color: $yellow;
    color: #1b1b1b;
    cursor: pointer;
    & .icon {
        margin-right: 10px;
    }
}
.header-bottom {
    
    .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 35px;
    padding-bottom: 25px; 
    }
}
.header__nav-list {
    display: flex;
}
.header__nav-item{
    border: solid 1px #fff;
    &:hover {
        border: 1px solid $yellow;
    }
}
.item-active {
    border: 1px solid $yellow;
}
.header__nav-active {
    
}
.header__nav-item a{
    border: solid 1px #fff;
    padding: 13px 16px;
       
    &>& {
        margin-right: 15px;
    }
}  
.header__nav-item + .header__nav-item {
    margin-left: 15px;
}
.intro {
    & .slick-arrow {
        font-size: 0;
        width: 40px;
        height: 40px;
        position: absolute;
        top: 50%;
        left: 50%;
        background-color: transparent;
        border: 1px solid #fbfbfb;
        z-index: 10;
        outline: none;
        transition: .2s;
        &:hover{
            background-color: $yellow;
        }
        
    }
    & .slick-arrow::before {
        position: absolute;
        font-size: 14px;
        top: 50%;
        left: 50%;
        font-family: "FontAwesome";
        content: "";
        color: #fbfbfb;
        transform: translate(-50%,-50%);
        
    }
    & .slick-next {
        transform: translateX(calc(25vw - 20px)) rotate(180deg);
        @media (max-width : 1580px) {
            transform: translateX(calc(43vw - 20px)) rotate(180deg);
        }
    }
    & .slick-prev {
        transform: translateX(calc(-25vw - 20px));
        @media (max-width : 1580px) {
            transform: translateX(calc(-43vw - 20px));
        }
    }
}
.slider {
}
.intro__slider-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: center;
    min-height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.intro__slider-item::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    background-color: #000;
    opacity: 0.4;
    
}
.intro__item-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: center;
    position: relative;
    z-index: 2;

}
.intro__item-title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 500;
    letter-spacing: 0.05em;
    color: #ffffff;
    margin-bottom: 20px;
}
.intro__item-description {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: #d3d2d2;
    max-width: 650px;
    text-align: center;
    margin-bottom: 46px;
}
.intro__item-button {
        transition: .2s;
        
        &:hover{
            background-color: rgba($color: $yellow, $alpha: 1.0);
        }
        & a{
            font-size: 14px;
            line-height: 24px;
            font-weight: 500;
            letter-spacing: 0.025em;
            color: #ffffff;
            border: 1px solid $yellow;
            padding: 0px 0px 0px 20px;
            transition: all .2s;

        }    
}
.intro__item-button .fa-angle-right {
    margin-left: 15px;
    padding: 7px 5px;
}
.fa-angle-right {
    padding: 13px 7px;
    color: #ffffff;
    border: 1px solid $yellow;
    background-color: $yellow;
}
.description {
    padding-bottom: 100px;
    padding-top: 100px;

}
.description__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.description__content {
    position: relative;
    padding-left: 140px;
    max-width: 520px;
    &::before {
        content: "";
        width: 106px;
        height: 2px;
        position: absolute;
        top: 10px;
        left: 0;
        background-color: $yellow;
    }
}

.description__title {
    margin: 0 0 10px 0;
    font-size: 24px;
    line-height: 24px;
    font-weight: 500;

}
.description__text {
    font-family: PTSerif;
    margin: 0;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    letter-spacing: 0.01em;
    color: #5e5e5e;
}
.description__link {
    padding: 10px 37px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #373636;
    border: 3px solid #e6e6e6;
    transition: 0.2s;
    &:hover{
        background-color: $yellow;
        border-color: $yellow;
    }
}
.cards {
    margin-bottom: 30px;

    &__container {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;
    }

    &__body {
        width: 360px;
        min-height: 363px;
        background-color: #f9f9f9;
        box-shadow: 0px 7px 15px 3px rgba(91,88,88,0.14);
        text-align: center;
        padding: 105px 40px 110px;
        position: relative;
        @media (max-width: 900px) {
            padding: 105px 40px 170px;
        }
    }

    &__title {
        font-size: 18px;
line-height: 24px;
font-weight: 500;
    }

    &__text {
        font-family: PTSerif;
font-size: 14px;
line-height: 18px;
font-weight: 400;
letter-spacing: 0.01em;
color: #5e5e5e;
    }
 
    &__link-about {
        color: #1b1b1b;
        text-decoration: underline;
    }

    &__link-order {
        font-size: 14px;
        line-height: 24px;
        font-weight: 500;
        letter-spacing: 0.025em;
        border: 2px solid $yellow;
        padding: 0px 0px 0px 20px;
        transition: 0.2s;
        &:hover{
            background-color: $yellow;
        }
        &:hover .icon{color: #000;}
        & .icon{
            margin-left: 10px;
            transition: .2s;
            
        }
    }
}
.cards__img {
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translate(-50%,-50%);
}
.cards__btn {
    display: flex;
    justify-content: space-between;
    width: 75%;
    align-items: center;
    position: absolute;
    left: 50%;
    bottom: 50px;
    transform: translateX(-50%);
    @media (max-width : 900px) {
        flex-direction: column-reverse;
        align-items: center;
        min-height: 80px;
    }
    
}


.about {
    background-image: url(../img/967.png);
    min-height: 300px;
    padding: 35px 0 40px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    & .container {
        position: relative;
        z-index: 2;
        @media (max-width: 1175px) {
            text-align: center;
        }
    }

    &__content {
        position: relative;
        max-width: 537px;    
        z-index: 2;
        margin-bottom: 20px;
        @media (max-width: 1175px) {
            margin: 0 auto 20px;
            text-align: left;
        }
    }

    &__title {
        font-size: 24px;
        line-height: 24px;
        font-weight: 500;
        color: #ffffff;
    }

    &__text {
        font-family: PTSerif;
        font-size: 14px;
        line-height: 24px;
        font-weight: 400;
        letter-spacing: 0.01em;
        color: #d3d2d2;
    }

    &__link {
        font-size: 14px;
        line-height: 24px;
        font-weight: 500;
        letter-spacing: 0.025em;
        color: #ffffff;
        border: 1px solid $yellow;
        padding: 0px 0px 0px 20px;
        transition: .2s;
        @media (max-width: 1175px) {
        }
        & .fa-angle-right {
            padding: 13px 7px;
            color: #ffffff;
            border: 1px solid $yellow;
            background-color: $yellow;
            margin-left: 10px;
        }
        &:hover{
            background-color: $yellow;
        }
    }
    &::before {
        content: "";
        position: absolute;
        background: rgba(91,88,88,0.14);
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        z-index: 0;

    }
}

.container {
}

.form {
    width: 800px;
    display: flex;
    max-width: 850px;
    margin-top: 40px;
    justify-content: space-between;
    max-width: 850px;
    margin-top: 40px;
    @media (max-width:1275px) {
        margin: 40px auto;
        
        width: 80%;
    }
    &__item {
        display: block;
        margin-bottom: 8px;
    }
    & label {
        color: #282828;
        display: block;
        font-size: 14px;
        font-weight: 400;
    }
    & input, select, textarea{
        color: #282828;
        display: block;
        width: 100%;
        margin-top: 5px;
        margin-bottom: 15px;
        padding: 10px;
        font-size: 14px;
        font-weight: 400;
        border: 1px solid #e6e6e6;
        outline: none;
        
    }
    & .option-first{
        width: 100%;
        color: #e6e6e6;
    }
    & .jq-selectbox {
        width: 100%;
    }
    & .jq-selectbox::after {
        font-family: "FontAwesome";
        content: "";
        position: absolute;
        top: 12px;
        right: 10px;
    }
    & .jq-selectbox__dropdown {
        position: absolute;
        background: #fff;
        border: 1px solid #e6e6e6;
        width: 100%;
    }
    & select {
        display: block;
         width: 100%;
         margin-top: 5px;
        margin-bottom: 15px;
        padding: 10px;
        font-size: 14px;
        font-weight: 400;
        border: 1px solid #e6e6e6;
        color: #e6e6e6;
    }
    &__button {
    }
    & .jq-selectbox li {
        min-height: 18px;
        padding: 5px 10px 6px;
        color: #231F20;
    }
    & .jq-selectbox li.selected {
        background-color: #A3ABB1;
        color: #FFF;
    }
    & .jq-selectbox li:hover {
        background-color: #08C;
        color: #FFF;
    }
    & .jq-selectbox li.disabled {
        color: #AAA;
    }
    & .jq-selectbox li.disabled:hover {
        background: none;
    }
    & .jq-selectbox li.optgroup {
        font-weight: bold;
    }
    & .jq-selectbox li.optgroup:hover {
        background: none;
        color: #231F20;
        cursor: default;
    }
    & .jq-selectbox li.option {
        padding-left: 25px;
    }
    & .jq-selectbox__select {
        margin-top: 5px;
        height: 38px;
        width: 100%;
        padding: 10px 45px 7px 10px;
        border: 1px solid #e6e6e6;
        color: #333;
    }
    & textarea {
        height: 190px;
        resize: none;
        margin-bottom: 31px;
       
    }
}
.form-left {
    width: 265px;
    
}
.form-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    margin-left: 25px;
}
.form__button {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    color: #282828;
    margin: 0;
    background-color: #fff;
    border: solid 1px #ffcd21;
    /* padding-left: 14px; */
    /* padding-top: 0; */
    /* padding-bottom: 0; */
    padding: 0px 0px 0px 25px;
    outline: none;
    transition: .2s;
}
.form__button:hover {
    background-color: $yellow;
}
.form__button:hover .fa-angle-right {
        color: #212020;
}
.fas {
}
.form__item {
    width: 100%;
}
.form__button .fa-angle-right {
    padding: 11px 6px;
    border: none;
    margin-left: 25px;
    transition: .2s;
    
}
.icon {
}
.description-form  {
    background-image: url(../img/O6ZEUC0.png);
    background-repeat: no-repeat;
    background-position: calc(50vw + 400px) bottom;
    padding-bottom: 40px;
    @media (max-width:1275px) {
        background-image: none;
    }
}
.achievements {
    background-image: url(../img/O5MCDT0.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 55px 0 42px;
    position: relative;
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5);
        z-index: 1;
    }
    & .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        position: relative;
        z-index: 2;
    }

    &__item {
        vertical-align: middle;
        text-align: center;
        padding: 0px; 
        max-width: 331px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__img {
        text-align: center;
        width: 40px;
        height: 40px;
        border: 2px solid #ffc222;
        margin-bottom: 20px;
        padding-top: 9px;
        & .fa-angle-right {
            background-color: transparent;
            padding: 0px;
            border: none;
        }
    }

    &__item-title {
        font-size: 18px;
        line-height: 24px;
        font-weight: 400;
        color: #ffffff;
        max-width: 285px;
        margin-bottom: 23px;
    }

    &__text {
        font-family: PTSerif;
        font-size: 14px;
        line-height: 24px;
        font-weight: 400;
        letter-spacing: 0.01em;
        color: #d3d2d2;
    }
}

.news {
    & .slick-arrow {
        font-size: 0;
        width: 40px;
        height: 40px;
        position: absolute;
        bottom: -75px;
        right: 0;
        background-color: transparent;
        border: 1px solid #908e8e;
        z-index: 10;
        outline: none;
        transition: .2s;
        &:hover{
            background-color: $yellow;
        }
        
    }
    & .slick-arrow::before {
        position: absolute;
        font-size: 14px;
        top: 50%;
        left: 50%;
        font-family: "FontAwesome";
        content: "";
        color: #908e8e;
        transform: translate(-50%,-50%);
        
    }
    & .slick-next {
        transform: rotate(180deg);
    }
    & .slick-prev {
        transform: translateX(-58px);
    }
    padding-bottom: 109px;

    &__slider {
        width: 555px;
        box-shadow: 0px 5px 15px 1px rgba(128,126,126,0.12);
        margin-right: 30px;
        position: relative;
        @media (max-width: 1175px) {
            margin-bottom: 100px;
            margin-right: 0;
        }  
    }

    &__thumbnails {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        @media (max-width: 1175px) {
            width: 555px;
        }

    }
    & .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        @media (max-width: 1175px) {
            flex-direction: column;
            align-items: center;
        }
    }
}

.news .slider {

    &__item {
        position: relative;
        width: 550px;
        padding: 62px 37px 47px 71px;

    }
}
.news .item {
    &__span {
        font-family: FontAwesome;
        font-size: 16px;
        line-height: 18px;
        font-weight: 400;
        letter-spacing: 0.05em;
        color: #ffffff;
        position: absolute;
        left: 69px;
        top: 0;
        background-color: $yellow;
        padding: 9px 25px;
    }
    &__title {
        font-size: 18px;
        line-height: 24px;
        font-weight: 400;
        letter-spacing: 0.05em;
        color: #242424;
        margin-bottom: 19px;
    }

    &__text {
        font-family: PTSerif;
        font-size: 14px;
        line-height: 18px;
        font-weight: 400;
        letter-spacing: 0.01em;
        color: #5e5e5e;
        margin-bottom: 37px;
    }

    &__subscription {
        font-size: 14px;
        line-height: 18px;
        font-weight: 400;
        letter-spacing: 0.01em;
        color: #212020;
    }
}
.news .thubnail {
    
    &__body {
        position: relative;
        width: 262px;
    }
}
.news .thubmnail {

    &__span {
        position: absolute;
        left: 10px;
        top: 0px;
        padding: 32px 5px 11px;
        font-family: PTSerif;
        font-size: 14px;
        line-height: 18px;
        font-weight: 700;
        color: #f9f9f9;
        background-color: $yellow;

    }
}
.news .thumbnail {

    &__img {
        width: 100%;
        height: 190px;
        object-fit: cover;
    }

    &__title {
        font-size: 16px;
        line-height: 18px;
        font-weight: 500;
        letter-spacing: 0.05em;
        color: #242424;
    }

    &__text {
        font-family: PTSerif;
        font-size: 14px;
        line-height: 18px;
        font-weight: 400;
        letter-spacing: 0.01em;
        color: #5e5e5e;
    }
}
.footer {
    background-color: #595959;

    & .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-top: 29px;
        padding-bottom: 37px;

    }
    &__contacts {
        max-width: 344px;
    }

    &__contacts-header {
        padding: 0;
        margin-bottom: 20px;
        font-size: 16px;
        line-height: 36px;
        font-weight: 500;
        letter-spacing: 0.05em;
        color: #ffffff;
        
    }

    &__contacts-text {
        padding: 0px;
        margin-bottom: 27px;
        font-family: Roboto;
        font-size: 14px;
        line-height: 18px;
        font-weight: 400;
        color: #d3d2d2;
    }
    & .icon {
        color: $yellow;
        margin-right: 10px;
    }
    &__link {
        padding: 4px 25px 1px 27px;
        font-size: 16px;
        line-height: 36px;
        font-weight: 400;
        background-color: $yellow;
        margin-bottom: 20px;
        & .icon {
            color: #212020;
        }

    }

    // &__contacts-list {
    // }

    &__contacts-item a{
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        letter-spacing: 0.025em;
        color: #ffffff;
        margin-top: 10px;
    }

    
    &__subscription {
        background-color: #303030;
        font-size: 12px;
        line-height: 24px;
        font-weight: 400;
        letter-spacing: 0.05em;
        color: #ffffff;
        padding: 16px 0;
        width: 100%;
        text-align: center;
    }
}
.fa-briefcase {
}
.map {
    width: 632px;
height: 251px;
}
.icon_y {
    color: $yellow !important;
}
.icon_b {
    color: #212020 !important;
}
